<div class="background-img"></div>
<div class="item-wrap">
    <hgroup class="item-title">
        <h1>웹 퍼블리셔 마빈의 포트폴리오</h1>
        <p>최선에 최선을 더해 감각적인 코드를 그려내는 마빈을 소개합니다.</p>
    </hgroup>
</div>
<div class="item-wrap2 s1-animation">
    <div class="item-inner">
        <dl>
            <dt><span>01.</span>나의소개</dt>
            <dd>
                "최선" 노력과 끈기를 하나로 어울려 줄 수 있는 대답이자 마빈의 정신과도 같습니다.
                다양한 작품을 마빈에게 맡기신다면 최선이란 것을 느낄 수 있을 만큼 최고의 작업물로 보답하겠습니다. 
            </dd>
            <dd>
                "팀보다 위대한 개인은 없다" 마빈은 완벽하지 않습니다. 팀원들과 함께 할 때 비로소 완벽해질 수 있습니다.
                공동의 목적을 위해 마빈의 정신 "최선"을 아낌없이 보여드리겠습니다.
            </dd>
            <a class="btn-intro btn-ani" href="https://youngwanho.github.io/" target="_blank">
                <span>
                    자기소개 더보기
                </span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </dl>
        <div class="swiper visual-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item-img"></div>
                    <div class="item-text">
                        <span>이름: 윤관호 (마빈)</span>
                        <span>생년월일: 1996.04.12 (27세)</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-img"></div>
                    <div class="item-text">
                        <span>이름: 윤관호 (마빈)</span>
                        <span>생년월일: 1996.04.12 (27세)</span>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<script src="/assets/js/introduce.js"></script>