<div class="item-slide item-text">
  <dl>
    <dt><span>03.</span>포트폴리오</dt>
    <dd>
      여러 프로젝트에서 다양한 라이브러리와 언어를 사용하며 퍼블리싱을 한 경험이 다수 있습니다.
      웹 표준 및 접근성과 크로스 브라우징을 준수하고 다양한 디바이스별 반응형을 고려하며 퍼블리싱을 합니다.
    </dd>
    <dd>
      항상 꼼꼼하게 마크업을 하려고 최선을 다하며, QA 또한 빠짐없이 체크하기 때문에 믿고 맡기실 수 있습니다.
    </dd>
    <dd>

    </dd>
    <a class="btn-ani btn-git" href="https://github.com/youngwanho">
      <span>Git 방문하기</span>
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </dl>
</div>
<div class="item-slide item-card metapoker-card">
  <img class="deco" src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/tape.png" alt="테이프">
  <div class="item-inner">
    <figure>
      <div class="info-wrap">
        <div class="info-inner">
          <p>참여: Ifram영역을 제외한 전체 웹페이지 프론트개발 및 마크업</p>
          <p>사용툴: Html, Css, Jquery, Javascript, Bootstrap, Ajax</p>
        </div>
      </div>
    </figure>
    <div class="text-box">
      <p>웹 기반 게임사이트 퍼블리싱</p>
      <div class="title-box">
        <h3>메타포커</h3>
        <a class="btn-guide" href="https://meta-poker.kr" target="_blank">
          <span>웹사이트 이동</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="item-slide item-card anitime-card">
  <img class="deco" src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/tape.png" alt="테이프">
  <div class="item-inner">
    <figure>
      <div class="info-wrap">
        <div class="info-inner">
          <p>참여: Ifram영역을 제외한 전체 웹페이지 마크업</p>
          <p>사용툴: Html, Css, Jquery, Javascript, Bootstrap, MudBlazor, PhotoShop, Illustrator</p>
        </div>
      </div>
    </figure>
    <div class="text-box">
      <p>웹 기반 게임사이트 퍼블리싱</p>
      <div class="title-box">
        <h3>애니타임 게이밍</h3>
        <a class="btn-guide" href="https://atg.glaze.live" target="_blank">
          <span>웹사이트 이동</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="item-slide item-card jbro-card">
  <img class="deco" src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/tape.png" alt="테이프">
  <div class="item-inner">
    <figure>
      <div class="info-wrap">
        <div class="info-inner">
          <p>참여: 전체웹페이지 유지보수 및 이미지소스 디자인</p>
          <p>사용툴: Html, Css, Php, PhotoShop, Illustrator</p>
        </div>
      </div>
    </figure>
    <div class="text-box">
      <p>PHP 기반 웹사이트 유지보수</p>
      <div class="title-box">
        <h3>제이브로 컴퍼니</h3>
        <a class="btn-guide" href="https://www.jbrocompany.com" target="_blank">
          <span>웹사이트 이동</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="item-slide item-card vaex-card">
  <img class="deco" src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/tape.png" alt="테이프">
  <div class="item-inner">
    <figure>
      <div class="info-wrap">
        <div class="info-inner">
          <p>참여: 전체웹페이지 목업 및 일본어 번역</p>
          <p>사용툴: Html, Css, Jquey, Javascript</p>
        </div>
      </div>
    </figure>
    <div class="text-box">
      <p>기업 웹사이트 퍼블리싱</p>
      <div class="title-box">
        <h3>벡스</h3>
        <a class="btn-guide" href="http://www.vaex.info/" target="_blank">
          <span>웹사이트 이동</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="item-slide item-card thinkblock-card">
  <img class="deco" src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/tape.png" alt="테이프">
  <div class="item-inner">
    <figure>
      <div class="info-wrap">
        <div class="info-inner">
          <p>참여: 전체웹페이지 목업 및 일본어 번역</p>
          <p>사용툴: Html, Css, Jquey, Javascript</p>
        </div>
      </div>
    </figure>
    <div class="text-box">
      <p>기업 웹사이트 퍼블리싱</p>
      <div class="title-box">
        <h3>씽크블락</h3>
        <a class="btn-guide" href="http://thinkblock.co.kr" target="_blank">
          <span>웹사이트 이동</span>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/portfolio.js"></script>

