<div class="item-wrap">
    <div class="item-inner">
        <hgroup>
            <h2>02.나의스킬</h2>
            <p>퍼블리싱 및 협업에 필요한 다양한 스킬들을 숙지하고 있습니다.</p>
        </hgroup>
        <ul>
            <li>#Html</li>
            <li>#Css</li>
            <li>#Jquery</li>
            <li>#Javascript</li>
            <li>#Vue.js</li>
            <li>#Sass</li>
            <li>#Bootstrap</li>
            <li>#Gsap</li>
            <li>#PhotoShop</li>
            <li>#Illustrator</li>
            <li>#Xd</li>
            <li>#Figma</li>
            <li>#Git</li>
            <li>#Svn</li>
            <li>#S3</li>
        </ul>
    </div>
</div>
<div class="item-wrap2">
    <div class="item-inner">
        <hgroup>
            <h2>퍼블리싱 스킬</h2>
            <p>실무에서 활용할 수 있는 스킬들을 정리했습니다.</p>
        </hgroup>
        <ul id="skill_group" class="item-group skill-group">
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>웹표준 및 웹접근성 준수</h3>
                    </div>
                    <a class="btn-ani" href="https://reliable-curtain-1d1.notion.site/f3851985b75a46b892676f1deb3b7f60?pvs=4" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>크로스브라우징 준수</h3>
                    </div>
                    <a class="btn-ani" href="https://reliable-curtain-1d1.notion.site/14a30f074ff84886ab2b355138f1a18a?pvs=4" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>모바일 반응형</h3>
                    </div>
                    <a class="btn-ani" href="https://reliable-curtain-1d1.notion.site/a65048efd0464f179eb7e2a0de204c6b?pvs=4" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>Sass(Scss) 사용</h3>
                    </div>
                    <a class="btn-ani" href="https://reliable-curtain-1d1.notion.site/SASS-SCSS-ceae168d1efa42c98a8136e432164f85?pvs=4" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>부트스트랩 프레임워크 사용</h3>
                    </div>
                    <a class="btn-ani" href="https://reliable-curtain-1d1.notion.site/Bootstrap-53d3bf1526a441cfb980978760c4b6f9?pvs=4" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>Vue.js 프레임워크 사용</h3>
                    </div>
                    <a class="btn-ani" href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>Gsap 애니메이션 사용</h3>
                    </div>
                    <a class="btn-ani" href="https://reliable-curtain-1d1.notion.site/GSAP-88418a17db934587bc5be66b2a4c6603?pvs=4" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
            <li class="item-list">
                <div class="item-list-inner">
                    <div class="item-text">
                        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/check_icon.png" alt="체크박스">
                        <h3>Ajax 비동기통신 사용</h3>
                    </div>
                    <a class="btn-ani" href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>설명보기</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- load list button -->
        <!-- <button id="btn_load" class="btn-load">
            <i class="fa-solid fa-plus"></i>
            <span>더 보기</span>
        </button> -->
    </div>
</div>

<!-- skill.js -->
<script src="/assets/js/skill.js"></script>
