<nav class="navbar">
    <ul class="nav-menu">
        <li>
            <button class="nav-link active">01.나의소개</button>
        </li>
        <li>
            <button class="nav-link">02.나의스킬</button>
        </li>
        <li>
            <button class="nav-link">03.포트폴리오</button>
        </li>
        <li>
            <button class="nav-link">04.연락하기</button>
        </li>
    </ul>
    <a class="nav-logo" href="/">
        <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/logo/main_logo.png" alt="로고">
    </a>
    <ul class="nav-util">
        <li>
            <a class="nav-link" href="https://github.com/youngwanho" target="_blank">
                <span>깃 방문하기</span>
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
        <li>
            <a class="nav-link" href="https://drive.google.com/file/d/1cagKRcDNn6VEwBqv3p26bB5x2pV-q5gx/view?usp=share_link" target="_blank">
                <span>이력서 확인</span>
                <i class="fa-solid fa-user-tie"></i>
            </a>
        </li>
    </ul>
</nav>
<nav class="m-navbar">
    <div class="navbar-wrap">
        <a class="navbar-brand" href="#">
            <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/logo/main_logo.png" alt="로고">
        </a>
        <button id="btn_submenu" class="btn-submenu">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
    </div>
    <div class="backdrop"></div>
    <div class="slide-menu">
        <div class="top-menu">
            <div class="top-menu-inner">
                <a class="navbar-brand" href="#">
                    <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/logo/main_logo.png" alt="로고">
                </a>
                <button class="btn-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
        <nav class="middle-menu">
            <ul class="nav-menu">
                <li>
                    <button class="nav-link">
                        <div>
                            <span class="num">01.</span>
                            <span>나의소개</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li>
                    <button class="nav-link">
                        <div>
                            <span class="num">02.</span>
                            <span>나의스킬</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li>
                    <button class="nav-link">
                        <div>
                            <span class="num">03.</span>
                            <span>포트폴리오</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li>
                    <button class="nav-link">
                        <div>
                            <span class="num">04.</span>
                            <span>연락하기</span>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </nav>
        <nav class="bottom-menu">
            <ul class="nav-util">
                <li>
                    <a target="_blank" href="https://github.com/youngwanho">
                        <span>깃 방문하기</span>
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1cagKRcDNn6VEwBqv3p26bB5x2pV-q5gx/view?usp=share_link">
                        <span>이력서 확인</span>
                        <i class="fa-solid fa-user-tie"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</nav>

 <!-- header.js -->
 <script src="/assets/js/header.js"></script>