<div class="side-util">
    <ul>
        <li>
            <a class="btn-link" target="_blank" href="https://open.kakao.com/o/suKNOfJf">
                <span class="title">1:1 오픈채팅</span>
                <div class="icon-box">
                    <img src="https://gwanho.s3.ap-northeast-2.amazonaws.com/images/icons/kakao_icon(white).png" alt="카카오 아이콘">
                    <span class="text">오픈채팅</span>
                </div>
            </a>
        </li>
        <li>
            <a class="btn-link" href='tel:010-9506-1006'>
                <span class="title">전화문의 하기</span>
                <div class="icon-box">
                    <i class="fa-solid fa-phone"></i>
                    <span class="text">전화문의</span>
                </div>
            </a>
        </li>
        <li>
            <a class="btn-link" href="mailto:ddw9819@gmail.com">
                <span class="title">메일문의 하기</span>
                <div class="icon-box">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="text">메일문의</span>
                </div>
            </a>
        </li>
        <li class="item-plus">
            <a id="btn_plus" class="btn-plus">
                <div class="icon-box plus-icon">
                    <i class="fa-solid fa-plus"></i>
                    <span class="text">더 보기</span>
                </div>
                <div class="icon-box close-icon hide">
                    <i class="fa-solid fa-chevron-down"></i>
                    <span class="text">접기</span>
                </div>
            </a>
        </li>
        <li>
            <a class="btn-elevator">
                <div class="icon-box">
                    <i class="fa-solid fa-chevron-up"></i>
                    <span class="text">맨 위로</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<script src="/assets/js/sideutil.js"></script>