.horizontal-sliders {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  height: 100vh;
  width: 500%;
  background: #D8E0A5;
  overflow-x: hidden;
  border: none;
  z-index: 2;
}
.horizontal-sliders .item-slide {
  width: 600px;
  min-width: 600px;
}
.horizontal-sliders .item-text {
  border: none;
  display: flex;
  align-items: center;
  margin-left: 15vw;
  margin-right: 10vw;
}
.horizontal-sliders .item-text dl dt {
  font-size: 1.75rem;
  font-weight: 600;
  color: #154726;
}
.horizontal-sliders .item-text dl dd {
  color: #154726;
  margin-top: 1.5625rem;
}
.horizontal-sliders .item-text dl .btn-git {
  margin-top: 2.187rem;
  height: 45px;
  width: 160px;
  padding: 5px;
}
.horizontal-sliders .item-text dl .btn-git i {
  margin-bottom: 2px;
}
.horizontal-sliders .item-text dl .btn-git span {
  margin-bottom: 1px;
  margin-right: 3px;
}
.horizontal-sliders .item-card {
  position: relative;
  will-change: transform;
  margin-right: 250px;
}
.horizontal-sliders .item-card.active .item-inner {
  transform-origin: 50% 0%;
  animation-name: shake;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.horizontal-sliders .item-card .deco {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 1;
}
.horizontal-sliders .item-card .item-inner {
  width: 100%;
  height: 530px;
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 5px;
  padding: 3% 3% 0 3%;
}
.horizontal-sliders .item-card .item-inner figure {
  height: 400px;
  overflow: hidden;
  box-shadow: inset 0px 0px 10px rgba(87, 87, 87, 0.321);
}
.horizontal-sliders .item-card .item-inner figure .info-wrap {
  background: rgba(0, 0, 0, 0.6431372549);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #fff;
}
.horizontal-sliders .item-card .item-inner figure .info-wrap .info-inner {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.horizontal-sliders .item-card .item-inner figure .info-wrap .info-inner p {
  margin-top: 10px;
  font-size: 1.125rem;
}
.horizontal-sliders .item-card .item-inner figure:hover .info-wrap {
  opacity: 1;
}
.horizontal-sliders .item-card .item-inner .text-box {
  margin-top: 20px;
  color: #333;
  font-family: "GangwonEduSaeeum_OTFMediumA";
}
.horizontal-sliders .item-card .item-inner .text-box p {
  font-size: 1.375rem;
}
.horizontal-sliders .item-card .item-inner .text-box .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
}
.horizontal-sliders .item-card .item-inner .text-box .title-box h3 {
  font-size: 2.187rem;
}
.horizontal-sliders .item-card .item-inner .text-box .title-box .btn-guide {
  width: 140px;
  background-image: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/btn_info.png);
  height: 65px;
  background-size: cover;
  background-position: center center;
  border: none;
  outline: none;
  transition: 0.2s;
}
.horizontal-sliders .item-card .item-inner .text-box .title-box .btn-guide span {
  display: none;
}
.horizontal-sliders .item-card .item-inner .text-box .title-box .btn-guide:hover {
  background-image: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/btn_info_hover.png);
}
.horizontal-sliders .metapoker-card figure {
  background: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/thumbs/metapoker_thumb.jpg);
  background-position: center center;
  background-size: cover;
}
.horizontal-sliders .anitime-card figure {
  background: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/thumbs/anitime_thumb.jpg);
  background-position: center center;
  background-size: cover;
}
.horizontal-sliders .jbro-card figure {
  background: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/thumbs/jbro_thumb.jpg);
  background-position: center center;
  background-size: cover;
}
.horizontal-sliders .vaex-card figure {
  background: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/thumbs/vaex_thumb.jpg);
  background-position: center center;
  background-size: cover;
}
.horizontal-sliders .thinkblock-card figure {
  background: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/thumbs/thinkblock_thumb.jpg);
  background-position: center center;
  background-size: cover;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .horizontal-sliders .item-slide {
    width: 450px;
    min-width: 450px;
  }
  .horizontal-sliders .item-card .item-inner {
    height: 500px;
  }
  .horizontal-sliders .item-card .item-inner figure {
    height: 380px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .horizontal-sliders .item-slide {
    width: 450px;
    min-width: 450px;
  }
  .horizontal-sliders .item-card .item-inner {
    height: 500px;
  }
  .horizontal-sliders .item-card .item-inner figure {
    height: 380px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .horizontal-sliders .item-slide {
    width: 80vw;
    min-width: 80vw;
    margin-right: 150px;
  }
  .horizontal-sliders .item-text dl .btn-git {
    height: 35px;
    width: 140px;
  }
  .horizontal-sliders .item-card .deco {
    position: absolute;
    width: 80px;
  }
  .horizontal-sliders .item-card .item-inner {
    height: 445px;
  }
  .horizontal-sliders .item-card .item-inner figure {
    height: 300px;
  }
  .horizontal-sliders .item-card .item-inner figure .info-wrap {
    opacity: 1;
  }
  .horizontal-sliders .item-card .item-inner .text-box .title-box {
    margin-top: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .horizontal-sliders .item-card .item-inner .text-box .title-box .btn-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    margin-top: 20px;
    width: 100%;
    background: #ffd550;
    color: #fff;
    height: 45px;
    border-radius: 5px;
  }
  .horizontal-sliders .item-card .item-inner .text-box .title-box .btn-guide:hover {
    background: #154726;
  }
  .horizontal-sliders .item-card .item-inner .text-box .title-box .btn-guide span {
    display: block;
  }
}/*# sourceMappingURL=portfolio.css.map */