$green-color: #154726;
$yellow-color: #ffd550;

// animation btn
.btn-ani {
    position: relative;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    cursor: pointer;
    z-index: 1;
    background: $yellow-color;
    color: $green-color;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #fff;

        &::before {
            top: 0;
        }
    }

    &::before {
        content: "";
        position: absolute;
        background: $green-color;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        width: 100%;
        z-index: -1;
        transition: top 0.12s ease-in;
    }
}