// color
$green-color: #154726;
$yellow-color: #ffd550;
$bg-color: #f8ecd3;

#section2 {
    background: $bg-color;

    .item-wrap {
        width: 100%;
        height: 350px;
        background: url(https://gwanho.s3.ap-northeast-2.amazonaws.com/images/visuals/s2_bg.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .item-inner {
            width: 80%;
            min-width: 1200px;
            max-width: 1600px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            hgroup {
                text-align: center;
                color: #fff;

                h2 {
                    font-size: 1.75rem;
                    font-weight: 600;
                }

                p {
                    margin-top: 1rem;
                    font-weight: 300;
                }
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 30px;

                li {
                    margin: 20px 20px;
                    border: 1px solid #fff;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 25px;
                }
            }
        }
    }

    .item-wrap2 {
        width: 80%;
        min-width: 1200px;
        max-width: 1600px;
        height: 600px;
        margin: 0 auto;

        .item-inner {
            margin-top: 80px;

            hgroup {
                color: $green-color;

                h2 {
                    font-size: 1.75rem;
                    font-weight: 600;
                }

                p {
                    margin-top: 10px;
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 20px;
                padding-bottom: 20px;
                width: 100%;

                li {
                    width: 49%;
                    min-width: 500px;
                    margin-top: 50px;
                    height: 80px;
                    border: 1px solid rgba(21, 71, 38, 0.282);
                    border-radius: 5px;
                    opacity: 0;
                    transition: 0.2s;

                    .item-list-inner {
                        width: 95%;
                        margin: 0 auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .item-text {
                            display: flex;
                            align-items: center;
                            color: #393737;

                            h3 {
                                color: $green-color;
                                font-weight: 400;
                            }

                            img {
                                width: 30px;
                                margin-right: 10px;
                            }
                        }

                        a {
                            height: 45px;
                            width: 120px;

                            i {
                                font-size: 1rem;
                            }

                            span {
                                margin-bottom: 1px;
                                margin-left: 3px;
                                font-size: 0.882rem;
                            }
                        }
                    }
                }
            }

            #btn_load {
                border: none;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #ffd650ad;
                color: $green-color;
                flex-direction: column;
                display: none;
                align-items: center;
                justify-content: center;
                transition: 0.2s;

                &:hover {
                    background: $yellow-color;
                }

                i {
                    font-size: 1.25rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

// laptop
@media (min-width: 992px) and (max-width: 1199px) {
    #section2 {
        .item-wrap {
            height: 450px;

            .item-inner {
                width: 90%;
                min-width: 90%;
                max-width: 90%;
            }
        }

        .item-wrap2 {
            width: 90%;
            min-width: 90%;
            max-width: 90%;
            height: 1000px;
            .item-inner {
                ul {
                    li {
                        width: 100%;
                        min-width: 100%;
                    }
                }
            }
        }
    }
}

// tablet
@media (min-width: 768px) and (max-width: 991px) {
    #section2 {
        .item-wrap {
            height: 450px;

            .item-inner {
                width: 90%;
                min-width: 90%;
                max-width: 90%;

                ul {
                    li {
                        margin: 10px;
                    }
                }
            }
        }

        .item-wrap2 {
            width: 90%;
            min-width: 90%;
            max-width: 90%;
            position: relative;
            height: 800px;

            .item-inner {

                ul {
                    li {
                        width: 100%;
                        min-width: 100%;
                        margin-top: 15px;
                        height: 70px;

                        .item-list-inner {
                            a {
                                height: 45px;
                                width: 45px;

                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                #btn_load {
                    display: flex;
                }
            }
        }
    }
}

// mobile
@media (min-width: 321px) and (max-width: 767px) {
    #section2 {
        .item-wrap {
            height: 620px;

            .item-inner {
                width: 90%;
                min-width: 90%;
                max-width: 90%;

                ul {
                    li {
                        margin: 10px;
                    }
                }
            }
        }

        .item-wrap2 {
            width: 90%;
            min-width: 90%;
            max-width: 90%;
            position: relative;
            height: 750px;

            .item-inner {

                ul {
                    li {
                        width: 100%;
                        min-width: 100%;
                        margin-top: 15px;
                        height: 60px;

                        .item-list-inner {
                            a {
                                height: 45px;
                                width: 45px;

                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                #btn_load {
                    display: flex;
                    bottom: -2%;
                }
            }
        }
    }
}